* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
}
::-webkit-scrollbar-button {
  display: none !important;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-layout);
  color: var(--text-primary);
}

/* убираем функцию инвертирования фото в пагинации (не нужно)*/
.ant-image-preview-operations-operation-flipY,
.ant-image-preview-operations-operation-flipX {
  display: none !important;
}
/* перезапись стилей ant для чекбоксов*/
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--color-primary) !important;
}

/* стили для прогресс-бара */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #1890ff !important;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

[data-theme='dark'] #nprogress .bar {
  background: #40a9ff !important;
}

[data-theme='dark'] #nprogress .peg {
  box-shadow:
    0 0 10px #40a9ff,
    0 0 5px #40a9ff;
}

#root {
  min-height: 100vh;
}
