.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-lg);
  gap: var(--spacing-md);
  background-color: #292929;
}

body[data-theme='dark'] .header {
  background-color: (--bg-primary) !important;
}

.logo {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
  margin-right: var(--spacing-lg);
  white-space: nowrap;
}

.menu {
  flex: 1;
  background-color: #292929;
}

.content {
  padding: var(--spacing-lg);
  background: var(--bg-layout);
  transition: background var(--transition-base);
  min-height: calc(100vh - 64px);
}

@media (max-width: 580px) {
  .header {
    justify-content: space-between;
  }
  .logo {
    margin-right: -10px;
  }
  .menu {
    order: -1;
    flex-grow: 0;
    background-color: #1668dc;
    color: white !important;
  }
}

@media (max-width: 380px) {
  .logo span {
    display: none;
  }
}
