.toggle {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: 16px;
}

.lightModeIcon {
  color: var(--color-primary);
  transition: var(--transition-base);
}
.darkModeIcon {
  color: white;
  transition: var(--transition-base);
}

body[data-theme='dark'] .darkModeIcon {
  color: var(--color-primary);
}

body[data-theme='dark'] .lightModeIcon {
  color: white;
}
